Repository 540/react-native-training: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext=js,jsx,ts,tsx --fix, eslint --fix

Add linter, prettier and husky
  .eslintignore
  .eslintrc.js
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc
  .prettierignore
  .prettierrc
  App.tsx
  jest.config.integration.js
  jest.config.js
  jest.config.unit.js
  package.json
  setupJest.ts
  yarn.lock
Due: none

Apply linting
  src/Footer.tsx
  src/Header.tsx
  src/Intro.tsx
  src/Layout.tsx
  src/List.tsx
Due: prettier --write, eslint --ext=js,jsx,ts,tsx --fix

Comic selectors and api
  .gitignore
  App.tsx
  api/api.ts
  api/content/characters.json
  api/content/comics-1009220.json
  api/content/comics-1009351.json
  api/content/comics-1009368.json
  api/content/comics-1009610.json
  api/content/comics-1009664.json
  api/content/comics-1009718.json
  api/content/comics.json
  api/index.ts
  package.json
  src/Header.tsx
  yarn.lock
Due: prettier --write, eslint --ext=js,jsx,ts,tsx --fix

Common comic selection
  App.tsx
  src/Header.tsx
  src/List.tsx
Due: prettier --write, eslint --ext=js,jsx,ts,tsx --fix

Use react-query
  App.tsx
  package.json
  src/Root.tsx
  yarn.lock
Due: prettier --write, eslint --ext=js,jsx,ts,tsx --fix

Add navigation container and stack
  App.tsx
  package-lock.json
  package.json
  src/Header.tsx
  src/Home.tsx
  src/Layout.tsx
  src/List.tsx
  src/NavigationHooks.tsx
  src/StackNavigator.tsx
  yarn.lock
Due: prettier --write, eslint --ext=js,jsx,ts,tsx --fix

Navigate to detail screen
  src/Detail.tsx
  src/List.tsx
  src/StackNavigator.tsx
Due: prettier --write, eslint --ext=js,jsx,ts,tsx --fix

Add localization libraries
  App.tsx
  assets/translations/es.json
  package.json
  src/localizer.ts
  yarn.lock
Due: prettier --write, eslint --ext=js,jsx,ts,tsx --fix

use translation hook and strings
  assets/translations/es.json
  src/Detail.tsx
  src/Footer.tsx
  src/Header.tsx
  src/Intro.tsx
  yarn.lock
Due: prettier --write, eslint --ext=js,jsx,ts,tsx --fix

Organize ui
  App.tsx
  package.json
  src/ui/Detail/Detail.tsx
  src/ui/Detail/index.ts
  src/ui/Home/Home.tsx
  src/ui/Home/_components/Footer.tsx
  src/ui/Home/_components/Header.tsx
  src/ui/Home/_components/Intro.tsx
  src/ui/Home/_components/List.tsx
  src/ui/Home/index.ts
  src/ui/_components/Layout.tsx
  src/ui/_navigation/StackNavigator.tsx
  src/ui/_navigation/hooks.tsx
Due: prettier --write, eslint --ext=js,jsx,ts,tsx --fix

Implement hexagonal arquitecture
  api/api.ts
  api/index.ts
  package.json
  src/core/character/domain/character.ts
  src/core/character/domain/characterRepository.ts
  src/core/character/infrastructure/apiCharacterRepository.ts
  src/core/character/useCases/characterUseCases.ts
  src/core/comic/domain/comic.ts
  src/core/comic/domain/comicRepository.ts
  src/core/comic/infrastructure/apiComicRepository.ts
  src/core/comic/useCases/comicUseCases.ts
  src/core/shared/api/infrastructure/api.ts
  src/core/shared/api/infrastructure/content/characters.json
  src/core/shared/api/infrastructure/content/comics-1009220.json
  src/core/shared/api/infrastructure/content/comics-1009351.json
  src/core/shared/api/infrastructure/content/comics-1009368.json
  src/core/shared/api/infrastructure/content/comics-1009610.json
  src/core/shared/api/infrastructure/content/comics-1009664.json
  src/core/shared/api/infrastructure/content/comics-1009718.json
  src/core/shared/api/infrastructure/content/comics.json
  src/ui/Home/Home.tsx
  src/ui/Home/_components/Header.tsx
  yarn.lock
Due: prettier --write, eslint --ext=js,jsx,ts,tsx --fix, eslint --fix

Add awilix dependency injector
  App.tsx
  babel.config.js
  package.json
  src/_di/container.ts
  src/_di/modules.ts
  src/_di/registerModules.ts
  src/_di/resolvers.ts
  src/_di/types.ts
  src/core/character/_di/characterModule.ts
  src/core/character/infrastructure/apiCharacterRepository.ts
  src/core/character/useCases/characterUseCases.ts
  src/core/comic/_di/comicModule.ts
  src/core/comic/infrastructure/apiComicRepository.ts
  src/core/comic/useCases/comicUseCases.ts
  src/core/shared/_di/sharedModule.ts
  src/ui/Detail/Detail.tsx
  src/ui/Home/Home.tsx
  src/ui/Home/_components/Header.tsx
  src/ui/Home/_components/List.tsx
  src/ui/_context/diContext.tsx
  src/ui/_navigation/StackNavigator.tsx
  src/ui/_navigation/hooks.tsx
  src/ui/_navigation/index.ts
  src/ui/_navigation/model.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --ext=js,jsx,ts,tsx --fix

First app tests
  App.tsx
  jest.config.js
  package.json
  setupJest.ts
  src/_di/modules.ts
  src/_di/registerModules.ts
  src/core/character/domain/__tests__/__builders__/CharacterBuilder.ts
  src/core/character/infrastructure/__tests__/apiCharacterRepository.spec.ts
  src/core/character/useCases/__tests__/characterUseCases.spec.ts
  src/core/comic/domain/__tests__/__builders__/ComicBuilder.ts
  src/ui/Detail/Detail.tsx
  src/ui/Home/__tests__/Home.ispec.tsx
  src/ui/Home/_components/Footer.tsx
  src/ui/Home/_components/Header.tsx
  src/ui/Home/_components/Intro.tsx
  src/ui/__tests__/render.tsx
  src/ui/_context/diContext.tsx
  src/ui/_di/uiModule.ts
  src/ui/_hooks/useTranslation.ts
  src/ui/_utils/translations/i18nTranslate.ts
  src/ui/_utils/translations/translate.ts
  yarn.lock
Due: prettier --write, eslint --ext=js,jsx,ts,tsx --fix

Solve unit and integration tests
  src/core/comic/infrastructure/__tests__/apiComicRepository.spec.ts
  src/core/comic/useCases/__tests__/comicUseCases.spec.ts
  src/ui/Detail/Detail.tsx
  src/ui/Detail/__tests__/Detail.ispec.tsx
  src/ui/Home/__tests__/Home.ispec.tsx
  src/ui/Home/_components/List.tsx
  src/ui/__tests__/render.tsx
  src/ui/_di/uiModule.ts
  src/ui/_navigation/hooks.tsx
  src/ui/_navigation/model.ts
Due: prettier --write, eslint --ext=js,jsx,ts,tsx --fix

Add checkbox to change theme
  package.json
  src/ui/Home/Home.tsx
  yarn.lock
Due: prettier --write, eslint --ext=js,jsx,ts,tsx --fix

Introduce dark theme
  App.tsx
  src/ui/Detail/Detail.tsx
  src/ui/Home/Home.tsx
  src/ui/Home/_components/Footer.tsx
  src/ui/Home/_components/Header.tsx
  src/ui/Home/_components/Intro.tsx
  src/ui/Home/_components/List.tsx
  src/ui/_components/Layout.tsx
  src/ui/_components/Text.tsx
  src/ui/_context/themeContext.tsx
  src/ui/_navigation/NavigationContainer.tsx
Due: prettier --write, eslint --ext=js,jsx,ts,tsx --fix

see logs and api calls in flipper
  src/ui/Home/_components/Header.tsx
Due: prettier --write, eslint --ext=js,jsx,ts,tsx --fix

Add readme
  README.md
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: src/**/*.{js,json,md})
  eslint --ext=js,jsx,ts,tsx --fix: any of: src/**/*.{ts,tsx}
  eslint --fix: any of: src/**/*.{js,json,md}
